body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    margin: 0 4%;

}

.head1 {
    font-size: 3em;
    margin: 0;
    padding-top: 4% ;
    line-height: 0;
}

.head2 {
    margin: 0;
    font-family: 'Londrina Outline', cursive;
    color: orangered;
    font-size: 10em ;
}

.headImg {
    width: 20%;
    float: right;
    position: absolute;
    top:4% ;
    right: 4%;
}

.headText {
    font-size: 2vw;
    position: absolute;
    top: 20%;
    right: 4%;
}

.container {
    margin: auto;
    width: fit-content;
}

.column {
    margin: auto;
    text-align: center;
    float: left;
}

.card {
    margin: 10px 25px;
    border: 1px solid #ccc;
    display: block;
    width: 200px;
}

.card img {
    margin-top: 8px;
    width: 70%;
    height: auto;
}

.time {
    margin: 0;
}

.title {
    text-transform: uppercase;
    font-size: 1.20vw;
    padding-top: 15px;
    color: orangered;
    margin: 0;
    margin-bottom: 10px;
}

.imp {
    text-transform: uppercase;
    font-size: 1.20vw;
    margin: 0;
}

.desc {
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5vw;
}

.highlight {
    color: orangered;
}

.footer {
    float: right;
}

.footText {
    font-size: 2.5vw;
    margin: 0;
}

.lightgreen {
    color: lightgreen;
}